.dots {
    position: absolute;
    height: 186px;
    width: 204px;
    background-image: url("../images/dots.png");
    background-repeat: no-repeat;
}

.dots-up {
    top: 200px;
    right: 0;
}

.dots-down {
    bottom: 200px;
    left: 0;
}

@media (max-width: 767px) {
    .dots {
        display: none;
    }
}